@tailwind base;
@tailwind components;
@tailwind utilities;

.boxsw:hover img{
scale: 1.2;
transition: ease-in 0.2s;
}

.boxsw{

    transition: ease-in 0.2s;


    }

    .boxsw img{

        transition: ease-in 0.2s;


        }

.boxsw:hover{

    transition: ease-in 0.1s;
    transform: translateY(-5px);
    cursor: pointer;
    }

    .boxsw:hover p{

        font-weight: 500;
        }

        .loginx{
             box-shadow: 0 10px 25px rgb(0 0 0 / 25%);
        }

.contain{
    @apply max-w-5xl mx-auto
}



.heaad{
    background: linear-gradient(to bottom,#fff 20%,#f0f2f7 100%);
}

.box{
    background: url('./assets/29526_thumbnail.jpg') no-repeat  ;
    width: 100%;
    height: 200px;
    border: 1px solid black;
    background-size: cover;
}

.join{
background: linear-gradient(to bottom,#ffea32,#ffbe5f 100%);;
z-index: 10000 !important;
box-shadow: 0 5px 18px -8px rgb(0 0 0 / 80%);
}

.footer{
    background: #081927;
    background: linear-gradient(to bottom,#0b253b,#081928 72%);
    color:rgb(233, 233, 233);

    z-index: 1 !important;
}

.center{
    @apply flex justify-center items-center
}

.lang:hover img{
    transition: ease-in-out 0.3s;
    transform: scale(1.1);
}


::-webkit-scrollbar{
    width: 7px;

}

::-webkit-scrollbar-thumb{
    background-color: rgb(212, 212, 212);

}


@media (max-width: 768px) {
    .loginx{
        box-shadow:none;
   }

}
